<div className='panel panel-default'>
  <div class='col-sm-4 col-xs-6'>
    <div class='dispensary_item'>
      <p> <h4 class='dispensary_item_name'> <%= link_to dispensary.name, dispensary_path(dispensary) %> </h4></p><p></p>
      <div class='panel-thumbnail'>
<!-- render some kind of data about the dispensaries -->
        </a>
      </div>
    </div>
  </div>
</div>
