<!-- Wrap all page content here -->
<div id="wrap">

  <header class="masthead">
    <div class="logo">Kindr Project</div>
  </header>


  <!-- Fixed navbar -->
  <%= render partial: '/nav_bar' %>

  <!-- Begin page content -->
  <%= render partial: '/search' %>

  <!-- <div class="divider" id="section3"></div> -->

  <div class="bg-4">
    <div class="container" id="all_dispensaries">
    </div><!--/container-->
  </div>


