
<div id="wrap">

  <header class="masthead">
    <div class="logo">Kindr Project</div>
  </header>


  <!-- Fixed navbar -->
  <%= render partial: '/nav_bar' %>

  <!-- Begin page content -->
  <%= render partial: '/search' %>

  <h2><%= @dispensary.name %></h2>

  <div class="bg-4">
    <div class="container" id="all_dispensary_strains">
      <%= render @dispensary_strains %>
    </div><!--/container-->
  </div>
 origin/dev
