<!-- Wrap all page content here -->
<div id="wrap">


  <header class="masthead">
    <%= render partial: '/carousel'%>
  </header>


  <!-- Fixed navbar -->
  <%= render partial: '/nav_bar'%>

  <!-- Begin page content -->

  <%= render partial: '/search'%>

  <div class="bg-4">
    <div class="container" id="random_dispensaries">
    </div><!--/container-->
  </div>

  <div class="divider" id="section4"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-1">
    </div>
  </div>

  <div class="row">

    <div class="col-sm-10 col-sm-offset-1">
      <h1>Location</h1>
    </div>

    <div id="map-canvas">
    </div>
  </div>

<hr>

