    <div id="wrap">

      <header class="masthead">
        <div class="logo">Kindr Project</div>
      </header>


      <!-- Fixed navbar -->
      <%= render partial: '/home/nav_bar' %>


      <br><br><br>
      <div class="col-sm-12 col-sm-offset-1">

        <div class="row form-group">
          <div class="col-md-12">
            <h1>Register With Us</h1>
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" id="firstName" name="name" placeholder="Company or Organization">
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-control" id="organization" name="organization" placeholder="Address">
          </div><br>
        </div>
        <div class="row form-group">
          <div class="col-xs-5">
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="col-xs-5">
            <input type="text" class="form-control" name="phone" placeholder="Phone">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-10">
            <textarea rows='20' class="form-control" placeholder="Anything else..."></textarea>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-10">
            <button class="btn btn-default pull-right">Register</button>
          </div>
        </div>

      </div>

