  <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="our_nav_bar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a id="home_page_link" href="/">Home</a></li>
          <li><a id="all_dispensaries_link" href="/dispensaries">Dispensaries</a></li>
          <li class="dropdown" >
            <a href="#section3" class="dropdown-toggle" id="strain_rate_nav_link_dropdown" data-toggle="dropdown">Maps</a>
            <div id="hidden_strain_rate_nav_link" style="display:none;"></div>
          </li>
          <li><%= link_to "Register Dispensary", register_path %></a></li>
          <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: 'post', id:"logout_link" %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path, id:"signup_link", remote: true %></li>
            <li><%= link_to "Login", login_path, id:"login_link", remote: true %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar -->
