
  <div class='col-sm-4 col-xs-6'>
    <div class='dispensary_item'>
      <h4 class='dispensary_item_name'>
        <%= link_to dispensary_strain.strain.name, dispensary_dispensary_strain_path(@dispensary, dispensary_strain) %>
      </h4>
      </p><p>
      <div class='panel-thumbnail'>
        <a href='#' title='Renovations'>
          <img src='//placehold.it/600x400/444/F8F8F8' class='img-responsive'/>
        </a>
        <%= render partial: '/dispensary_strains/dispensary_strain_details', locals: {dispensary_strain: dispensary_strain} %>:

      </div>
    </div>
  </div>

