<div id="wrap">

  <header class="masthead">
    <div class="logo">Kindr Project</div>
  </header>
<p></p>

  <!-- Fixed navbar -->
  <%= render partial: '/nav_bar' %>

  <!-- Begin page content -->
  <%= render partial: '/search' %>

  <div class="bg-4">
    <div class="container" id="all_dispensary_strains">
      <%= render partial: 'dispensary_strain_details', locals: {dispensary_strain: @dispensary_strain} %>
    </div><!--/container-->
  </div>

<div class="button btn-default text-center"><%= link_to "Rate #{@dispensary_strain.dispensary.name}'s version of #{@dispensary_strain.strain.name}",dispensary_dispensary_strain_new_user_choice_collection_path(@dispensary, @dispensary_strain) %></div>


