<div id="wrap">
  <p></p>

  <!-- Fixed navbar -->
  <%= render partial: '/home/nav_bar' %>
  <div id="user_task_form" style="display:none;"></div>

  <div class="bg-4">
    <div class="container" id="all_dispensary_strains">
      <%= render partial: 'dispensary_strain_details', locals: {dispensary_strain: @dispensary_strain} %>
    </div><!--/container-->
  </div>




