.form-box {
	width: 20em;
	height: 20em;
	margin-left: auto;
	margin-right: auto;
}


.chart div {
  font: 11px sans-serif;
  /*background-color: steelblue;*/
  text-align: left;
  padding: 3px;
  margin: 1px;
  margin-bottom: 10px;
  color: white;
}

svg{
	padding-left: 1em;
}

.first{
	background-color: #588A23;
	animation: example 5s linear 2s ease-out right;
}

.second{
	background-color: steelblue;
}

.third{
	background-color: #bebebe;
}

.fourth{
	background-color: #DC7000;
}

.fifth{
	background-color: #FF2000;
}