.form-box {
	width: 20em;
	height: 20em;
	/*margin-left: ;*/
	/*margin-right: ;*/
}

.chart{
	display: inline-block;
	width: 25em;
	margin: 0.75em;
}

#dispensary_strain_show{
	position: relative;
	left: 35%;
}

.disp_strain_show{
	text-align: center;
}

.chart div {
	font-size: 10px;
	text-align: left;
	padding: 3px;
	margin: 1px;
	margin-bottom: 10px;
	color: white;
}

@-webkit-keyframes slideIn{
	0% {}
	5% {width: 0%;}
	10% {width: 4%;}
	15% {width: 6%;}
	20% {width: 8%;}
	40% {width: 10%;}
	60% {width: 15%;}
	65% {width: 20%;}
	70% {width: 25%;}
	75% {width: 30%;}
	80% {width: 35%;}
	90% {width: 40%;}
	95% {width: 45%;}
	97% {width: 50%;}
	98% {width: 60%;}
	100% {width: 65%;}
}

@-webkit-keyframes bounceDown{
	0% {}
	10% {transform: translateY(-100px);}
	20% {transform: translateY(-75px);}
	40% {transform: translateY(20px);}
	60% {transform: translateY(-6px);}
	70% {transform: translateY(2px);}
	80% {transform: translateY(-2px);}
	90% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}

@-webkit-keyframes bounceRandom{
	0% {}
	10% {transform: translateY(-500px); transform: translateX(-400px)}
	20% {transform: translateY(-355px); transform: translateX(-200px)}
	40% {transform: translateY(120px);}
	60% {transform: translateY(-16px);}
	70% {transform: translateY(6px);}
	80% {transform: translateY(-12px);}
	90% {transform: translateY(-2px);}
	100% {transform: translateY(0px);}
}

@-webkit-keyframes bounceRandomTwo{
	0% {}
	10% {transform: translateY(500px); transform: translateX(400px)}
	20% {transform: translateY(355px); transform: translateX(200px)}
	40% {transform: translateY(120px);}
	60% {transform: translateY(-20px);}
	70% {transform: translateY(10px);}
	80% {transform: translateY(-10px);}
	90% {transform: translateY(-2px);}
	100% {transform: translateY(0px);}
}

@-webkit-keyframes bounceLeft{
	0% {}
	10% {transform: translateX(-100px);}
	20% {transform: translateX(-75px);}
	40% {transform: translateX(20px);}
	60% {transform: translateX(-6px);}
	70% {transform: translateX(2px);}
	80% {transform: translateX(-2px);}
	90% {transform: translateX(0px);}
	100% {transform: translateX(0px);}
}

@-webkit-keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}
}

.first {
	background-color: #588A23;
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.second{
	background-color: steelblue;
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.third{
	background-color: #6500BF;
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.fourth{
	background-color: #DC7000;
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.fifth{
	background-color: #FF2000;
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.sixth{
	background-color: #FF2000;
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}


/*<<<<<<<<<<<<< Hover Styles >>>>>>>>>>>>>>>*/


.first:hover {
	background-color: #588A23;
	transform: scale(1.05);
	opacity: 0.7;
}

.second:hover{
	background-color: steelblue;
	transform: scale(1.05);
	opacity: 0.7;
}

.third:hover{
	background-color: #6500BF;
	transform: scale(1.05);
	opacity: 0.7;
}

.fourth:hover{
	background-color: #DC7000;
	transform: scale(1.05);
	opacity: 0.7;
}

.fifth:hover{
	background-color: #FF2000;
	transform: scale(1.05);
	opacity: 0.7;
}