    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("cover_photo.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <p></p>
            </div>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <div class="logo">Kindr Project</div>
    </div>
    <!-- /.carousel -->
