<ul id="menu-content" class="menu-content collapse out">
  <li>
    <a href="#"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
  </li>
  <%= @dispensaries.each do |dispensary|%>
  <li  data-toggle="collapse" data-target="#products" class="collapsed active">
    <a href="#"><i class="fa fa-gift fa-lg"></i><%= dispensary.name %> <span class="arrow"></span></a>
  </li>
  <ul class="sub-menu collapse" id="products">
    <% dispensary.dispensary_strains.each do |dispensary_strain| %>
    <li class="active"><a href="#"> <%= dispensary_strain.name %> </a></li>
    <% end %>
  </ul>
  <% end %>
</ul>
